/* 
    Created on : 19.4.2015, 14:13:17
    Author     : markku
*/

body {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
#page-wrap {
    position: relative;
    top: 10px;
    margin-right: auto;
    margin-left: auto;
    height: auto;
    width: 480px;
    padding: 5px 5px 5px 5px;
    border-radius: 10px 10px 10px 10px;
    background-color: #b0c4de;
    text-align: center;
}
#id-canvas {
    height: auto;
    width: 470px;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 20px 20px 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.498039) 0px 6px 16px -9px;
    background: linear-gradient(45deg, #92baac 45px, transparent 45px)64px 64px,
    linear-gradient(45deg, #92baac 45px, transparent 45px,transparent 91px, #e1ebbd 91px, #e1ebbd 135px, transparent 135px),
    linear-gradient(-45deg, #92baac 23px, transparent 23px, transparent 68px,#92baac 68px,#92baac 113px,transparent 113px,transparent 158px,#92baac 158px);
    background-color:#e1ebbd;
    background-size: 128px 128px;
}
.instructions {
    font-family:'Lobster Two';
    font-size: 30px;
    color: #444;
}

.forminput {
    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px; 
    border-radius: 10px; 
    border: 1px solid #e65700; 
    outline:0; 
    height:30px; 
    width: 275px;
    margin:auto 0;
    text-align: center;

}

.face {
    position: absolute;
    border: 2px solid #FFF;
}
#content #viewport input#file-selector {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
}

#content #viewport {
	clear: both;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	margin-bottom: 10px;
	width: 200px;
	height: 200px;
	border: 2px #e65700 dashed;
	border-radius: 20px;
	position: relative;
	cursor: pointer;
	overflow: hidden;
}

#content #viewport #view-hint {
	color: #454545;
	left: 50%;
	margin-left: -60px;
	border-radius: 8px;
	width: 120px;
	text-align: center;
	top: 50%;
	line-height: 150%;
	margin-top: -60px;
	height: 50px;
	position: absolute;
	background: #ffffff;
	opacity: 0.5;
}

#content #viewport #view-horz {
	background: #e65700;
	height: 16px;
	width: 2px;
	top: 50%;
	left: 50%;
	margin-top: 0px;
	margin-left: -1px;
	position: absolute;
	opacity: 0.5;
}

#content #viewport #view-vtic {
	background: #e65700;
	width: 16px;
	height: 2px;
	top: 50%;
	left: 50%;
	margin-top: 7px;
	margin-left: -8px;
	position: absolute;
	opacity: 0.5;
}

#content #viewport #output {
	border-radius: 20px;
	position: absolute;
}
#profile-stuff {
    height: auto;
    width: 470px;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 20px 20px 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.498039) 0px 6px 16px -9px;
}
#profile-top {
    position: relative;
    padding: 10px 10px 0px 10px;
    height: 15px;
    width: 450px;
    z-index: 150;
}
#profile-picture-wrap {
    float: left;
    padding: 2px 2px 2px 2px;
    height: 96px;
    width: 96px;
    border-radius: 2px 2px 2px 2px;
    box-shadow: rgba(0, 0, 0, 0.498039) 0px 6px 16px -9px;
    background-color: #fff;
}
#profile-picture {
    height: 96px;
    width: 96px;
    border-radius: 2px 2px 2px 2px;
    overflow: hidden;
}
#profile-picture img {
    height: auto;
    min-height: 96px;
    width: 96px;
}
#profile-top-right {
    float: left;
    margin: 0px 0px 0px 10px;
    height: 30px;
    width: 340px;
}
#user-name {
    float: left;
    height: 30px;
    width: 200px;
}
#user-name p {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-family: calibri;
    font-weight: bold;
    font-size: 24px;
    color: #444;
    line-height: 30px;
}
#cover-wrap {
    margin-top: -65px;
    height: 250px;
    width: 470px;
    //background: url('http://remesasmexico.com.mx/wp-content/uploads/matricula.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#fact-wrap {
    padding: 5px 0px 30px 0px;
    height: auto;
    width: 470px;
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.54902) 100%);
}
.user-fact {
    margin: 0px 0px 0px 120px;
    height: auto;
    width: auto;
}
.user-fact p {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-family: calibri;
    font-size: 16px;
    color: #fff;
}
#profile-stuff-bottom {
    padding: 10px 10px 10px 10px;
    height: auto;
    width: 450px;
}
#about {
    margin: 0px 0px 0px 0px;
    height: auto;
    width: auto;
}
#about p {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-family: calibri;
    font-size: 16px;
    color: #444;
}

.round-button {
    margin-left: auto;
    margin-right: auto;
    display:block;
    width:100px;
    height:100px;
    line-height:100px;
    border: 1px solid #e65700;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: #4679BD;
    box-shadow: 0 0 3px gray;
    font-size:30px;
    font-weight:bold;
}
.round-button:hover {
    background: #30588e;
}

