<div class="background">
    <!--<p>{{ message }}</p>-->

    <div id="page-wrap">
        <div class="instructions">
            <p>Have you ever wondered are you MexiCAN or MexiCAN'T?<br><br>
                Let's find out!<br><br>
                Step 1: Type your name</p>
        </div>
        <form>
            <input type="text" class="forminput" ng-model="nameInput"><br><br>
        </form>
        <div class="instructions">
            <p>Step 2: Select your picture</p>
        </div>
        <div id="content">
            <div id="viewport">
                <div id="view-hint"><u>Click to Select</u></div>
                <!--<div id="view-horz"></div>
                <div id="view-vtic"></div>-->
                <div ng-controller="UploadController">
                    <canvas id="output"></canvas>
                    <input type="file" id="file-selector" accept="image/*" ng-file-select="onFileSelect($files)" />
                    <i ng-hide="imageSrc">No image choosed</i>
                    <img ng-src="{{imageSrc}}" height="300" width="400"/><br/>
                    <!--<b>Progress:</b>
                    <progress value="{{progress}}"></progress>-->
                </div>
            </div>
        </div>
        <div class="instructions">
            <p>Step 3: Press GO!</p>
            <div class="round-button" ng-click="goClick()">GO!</div>
        </div><br><br>
        <canvas width="466" height="300" id="id-canvas" idcard>
            Your browser does not support the HTML5 canvas tag.
        </canvas>
        <p>In total {{ mexicans.length }} mexicans discovered so far</p>
    </div>
</div>